body{
    margin: 0px;
    background-color: #f4f1e5;
    color: #684132;
    font-family: "montserrat";
}

.cinzel {
    font-family: "cinzel decorative";
    font-weight: normal;
}
.nav-section {
    position: sticky;
    top: 0; /* This makes it stick to the top */
    display: flex;
    justify-content: space-between; /* This ensures the logo and links are spaced out */
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f1e5; /* Adjust according to your design */
    flex-wrap: nowrap;
    border-bottom: solid 1.5px #684132;
    margin: 0;
    padding: 0.7rem;
}
#logo{
    font-weight: bold;
    padding-left: 1rem;
    text-decoration: none;
    color:#684132
};
/* Navigation Bar Styling */
.navbar {
    display: flex;
    list-style: none;
    flex: 1; 
    justify-content: flex-end; /*Push the links to the right */    
}
.navbar a {
    position: relative;
    text-decoration: none;
    color: #684132; 
    margin: 0 15px; /* Space between the items */
    font-weight: normal;
    margin-left: 40px;
    font-size: 0.8rem;
}
/* Navigation Bar Animation*/
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background: #684132;
    transition: 0.3s;
}
.navbar a:hover::before {
    width: 100%;
}

/*Hero Section*/
.intro{
    display: flex;
    background-image: url(images/cake-icing-bg.png);
    flex-direction: row;
    justify-content: space-around;
    padding-top: 13rem;
    padding-right: 13rem;
    padding-left: 13rem;
    padding-bottom: 16rem;
    flex-wrap: wrap;
    border-bottom: solid 1.5px #684132;
}

.intro h1{
    font-size: 3rem;
    color:#f4f1e5;
    padding: 1rem;
    margin: 0px;   
    text-align: center;
}


.intro p{
    color:#f4f1e5;
    font-size: 1.5rem;
    margin: 0px;
    font-family: "playfair display";
    flex-basis: 100%;
    text-align: center;
    flex-wrap: wrap;
}

.hero-section{
    display:flex;
    padding-right: 12rem;
    padding-left: 12rem;
    padding-bottom: 6rem;
    flex-direction: row;
    padding-top: 8rem;
    justify-content: space-between; 
    text-align: justify;
}

.hero-section img{
    width: 25vw;
    margin-top: -12rem;
    border: solid 1.5px #684132;
}

.hero-section-left{
    width: 35vw;
    justify-items: space-between;
}

.hero-section-left h2{
    margin-bottom: 1rem;
}

.hero-section-left p{
    font-size: 1rem;
    margin-bottom: 2rem;
}

.hero-section-left button{
    font-family: "montserrat";
    margin-right: 2rem;
}

#register-button{
    padding: 1rem;
    background-color:#684132;
    color:#f4f1e5;
    border: none;
}

#learn-more-button{
    padding: 1rem;
    background-color:#f4f1e5;
    color:#684132;
    border: solid 1.5px #684132;
}

.about-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right:12rem;
    padding-left:12rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-top: solid 1.5px #684132;
    border-bottom: solid 1.5px #684132;
}

.about-section-right{
    text-align: justify;
    order: 3;
    flex-basis: 50%;
}


.about-section h2{
   font-family: "playfair display";
   font-size: 2rem;
   font-weight: bold;
   font-style: italic;
   text-align: left;
}

.about-section img{
    height: 45vh;
    flex-basis: 30%;

}


.about-section-right{
    flex-direction: rows;
    justify-content: space-around;
}


