body{
    margin: 0px;
    background-color: #f4f1e5;
    color: #684132;
    font-family: "montserrat";
}

.cinzel {
    font-family: "cinzel decorative";
    font-weight: normal;
}
.nav-section {
    position: sticky;
    top: 0; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f1e5;
    flex-wrap: nowrap;
    border-bottom: solid 1px #684132;
    margin: 0;
    padding: 0.7rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
#logo{
    font-weight: bold;
    padding-left: 1rem;
    text-decoration: none;
    color:#684132
};
/* Navigation Bar Styling */
.navbar {
    display: flex;
    list-style: none;
    flex: 1; 
    justify-content: flex-end;  
    z-index: 1000;

}
.navbar a {
    position: relative;
    text-decoration: none;
    color: #684132; 
    margin: 0 15px; /* Space between the items */
    font-weight: normal;
    margin-left: 40px;
    font-size: 1rem;
    font-size: 0.9rem;
    
}
/* Navigation Bar Animation*/
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 1px;
    background: #684132;
    transition: 0.3s;
}
.navbar a:hover::before {
    width: 100%;
}

/*Hero Section*/
.intro{
    display: flex;
    background-image: url(images/cake-icing-bg.png);
    flex-direction: row;
    justify-content: space-around;
    padding-top: 13rem;
    padding-right: 13rem;
    padding-left: 13rem;
    padding-bottom: 16rem;
    flex-wrap: wrap;
    border-bottom: solid 1px #684132;
}

.intro h1{
    font-size: 3rem;
    color:#f4f1e5;
    padding: 1rem;
    margin: 0px;   
    text-align: center;
}
.intro p{
    color:#f4f1e5;
    font-size: 1.5rem;
    margin: 0px;
    font-family: "playfair display";
    flex-basis: 100%;
    text-align: center;
    flex-wrap: wrap;
}
.hero-section{
    display:flex;
    padding-left: 12rem;
    padding-bottom: 6rem;
    flex-direction: row;
    padding-top: 8rem;
    justify-content: space-between;
    text-align: right;   
}
.hero-section img{
    width: 50vw;
    margin-top: -18rem;
    flex-basis: 50%;
    margin-bottom: -10rem;
}
.hero-section-left{
    width: 35vw;
    justify-items: space-between;
    flex-basis: 50%;
    padding-right: 2rem;
}
.hero-section-left h2{
    margin-bottom: 1rem;
}
.hero-section-left p{
    font-size: 1rem;
    margin-bottom: 2rem;
}
.hero-section-left button{
    font-family: "montserrat";
    margin-left: 2rem;
}
#register-button{
    padding: 1rem;
    background-color:#684132;
    color:#f4f1e5;
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
#learn-more-button{
    padding: 1rem;
    background-color:#f4f1e5;
    color:#684132;
    border: solid 1px #684132;
    border-radius: 0.3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.about-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right:12rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-top: solid 1px #684132;
    border-bottom: solid 1px #684132;
    z-index: 10;
}

.about-section-right{
    text-align: justify;
    order: 3;
    flex-basis: 50%;
    align-self: center;
}
.about-section h2{
   font-family: "playfair display";
   font-size: 2.5rem;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}
.about-section img{
    height: 55vw;
    flex-basis: 30%;
    margin-top: -10rem;
    justify-content: flex-start;
    margin-left: -2rem;
    margin-bottom: -8rem;
}

.about-section-right{
    flex-direction: rows;
    justify-content: space-around;
    
}

.course-details{
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 12rem;
    padding-right: 12rem;
}

/* New styles for the registration section */
#registration-section {
    display: flex;
    background-color: #f4f1e5;
    color: #684132;
    padding: 8rem 12rem;
    align-items: center;
    border: solid 1px #684132;
    justify-content: space-between;
}

#registration-section-left {
    flex-basis: 30%;
    padding-right: 2rem;
    color: #684132;

}
#registration-section-left h2 {
    font-family: "playfair dispplay";
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
    font-style: italic;
    flex-basis: 30%;
}

#registration-section-form {
    flex-basis: 40%;
    background-color: #f4f1e5;
    padding: 2rem;
    border: solid 1px #684132;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;

}

#registration-section-form input,
#registration-section-form select,
#registration-section-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #684132;
    border-radius: 0.3rem;
    background-color: #f4f1e5;
    color: #684132;
}

/* New styles for the radio button group */
#registration-section-form .radio-group {
    display: flex;
    align-self: center;
    margin-bottom: 1rem;
    justify-content: space-around;
}

#registration-section-form .radio-group label:first-child {
    margin-right: 1rem;
}

#registration-section-form .radio-group input[type="radio"] {
    width: auto;
    margin-right: 0.5rem;
}

#registration-section-form .radio-group label {
    margin-right: 1rem;
    font-weight: normal;
}

#registration-section-form button{
    padding: 0.5rem;
    color:#f4f1e5;
    background-color:#684132;
    border: none;
    border-radius: 0.3rem;
    font-family: "montserrat";
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.footer {
    background-color: #684132;
    color: #f4f1e5;
    padding: 1.5rem 12rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-column {
    flex-basis: calc(33.333% - 2rem);
    margin-bottom: 2rem;
}

.footer h2 {
    font-family: "cinzel decorative", serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer h3 {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.footer p {
    margin-bottom: 0.9rem;
    font-size: 0.7rem;
}

.footer-links a {
    display: block;
    color: #f4f1e5;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-links a:hover {
    text-decoration: underline;
}

.copyright {
    background-color: #4d2f24;
    color: #f4f1e5;
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
}
/* Testimonials Section */
.testimonials-section {
    padding: 10rem 12rem;
    background-color: #f4f1e5;
    border-top: solid 1px #4d2f24;
}

#testimonial-title{
    display:flex;
    justify-content: space-between;
    margin-top: 4rem;
}

#testimonial-title p{
    align-self: center;
    text-align: right;
    font-size:0.9rem;
}

.testimonials-section h2 {
    text-align: center;
    font-family: "playfair display";
    font-weight: normal;
    font-style: italic;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #684132;
}

.testimonials-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
}

#quotation-1{
    height: 5vw;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: -12rem;
}

#quotation-2{
    height: 5vw;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: -12rem;
    margin-left:48rem;

}

.testimonial-card {
    flex: 1;
    background-color: #f4f1e5;
    border: 1px solid #684132;
    border-radius: 8px;
    padding: 2.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    align-content: center;
    margin-bottom: 4rem;
}

.testimonial-card:hover {
    transform: translateY(-5px);
}

.testimonial-text {
    margin-bottom: 1rem;
    color: #684132;
}

.testimonial-author {
    text-align: right;
    color: #684132;
    font-weight: 600;
}

.course-details {
    padding: 8rem 12rem;
}

.course-details p {
    font-size: 0.9rem;
    text-align: justify;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0rem;
}

.course-details h2 {
    font-family: "playfair display", serif;
    font-size: 2.5rem;
    font-weight: normal;
    font-style: italic;
    color: #684132;
    margin: 0px;
}

.course-details-container {
    display: flex;
    border: 1px solid #684132;
    justify-content: space-between;
    border-radius: 0.4rem;    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.course-overview {
    flex: 1;
    background-color: #f4f1e5;
    padding: 2rem;
    border-right: 1px solid #684132;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course-overview h3 {
    font-family: "playfair display", serif;
    font-size: 2rem;
    font-weight: normal;
    font-style: italic;
    color: #684132;
    text-align: center;
}

.course-details-content {
    flex: 2;
    padding:2rem;
    background-color: #f4f1e5;
}

.course-details-content p {
    padding-top: 0rem;
    padding-bottom: 0rem;
    text-align: justify;
    line-height: 1.3rem;
}

.course-details-content p:last-child {
    margin-bottom: 0;
}